# Difference Sets

A $(v,k,\lambda)$ difference set in a group $G$ of order $v$ is a subset
$\{d_1, d_2, \ldots,d_k\}$ of $G$ such that $D=\sum d_i$ in the group
ring $\mathbb{Z}[G]$ satisfies 

$$D D^{-1} = n + \lambda G,$$

where
$n=k-\lambda$.

This notebook contains data on difference sets in yaml format, and simple code to access it.  The first line of the notebook reads in the dataset and code:

In [1]:
load('ds_code.py')

read 1442276 data items

The website <https://dmgordon.org> allows searches for particular values or ranges of the parameters.  If you just want to replicate that here, you can ignore everything below, and just substitute numbers of interest in the ranges of $v$, $k$, and $\lambda$.

In [2]:
T = init_tab()
for D in diffsets:
    v = get_v(D)
    k = get_k(D)
    lam = get_lam(D)
    G = get_G(D)
    if get_status(D) in ['All','Yes','No','Open']: # allow any status
        if v in range(10,100):
            if k in range(10,20):
                if lam in range(2,20):
                    if len(G)==1: # only look at cyclic groups
                        add_tab_entry(T,D)
show_tab(T)

## Viewing existence results and difference sets

After reading the data in <code>ds.json</code>, <code>ds_code.py</code> gives functions to check for difference sets $D$ in the dataset.  They are reported as $k$-subsets of $G$.

The arguments to <code>get_ds_data()</code> are $v$, $k$, $\lambda$ and $G$, where the group is given by its <i>invariant factors</i> $[n_1,n_2,\ldots,n_t]$, where $n_i | n_{i+1}$.  If the group is given in a nonstandard way (say by its elementary divisors, or with the invariant factors in a nonincreasing order), the set will not be found.

In [3]:
get_ds_data(7,3,1,[7])

There is exactly 1 DS(7,3,1) in group [7]
Reference: (2,2) Singer

0 1 3

In [4]:
get_ds_allgroups(16,6,2)

No DS(16,6,2) exists in group [16]
Reference: Lander, Theorem 4.31


There are exactly 2 DS(16,6,2) in group [2,8]
Reference: Hadamard

0:	[0, 0] [0, 1] [0, 2] [0, 5] [1, 0] [1, 6]
1:	[0, 0] [0, 1] [0, 2] [0, 6] [1, 0] [1, 5]

There are exactly 3 DS(16,6,2) in group [4,4]
Reference: Hadamard

0:	[0, 0] [1, 0] [0, 1] [2, 1] [1, 2] [2, 2]
1:	[0, 0] [1, 0] [2, 0] [0, 1] [1, 2] [2, 3]
2:	[0, 0] [1, 0] [2, 0] [0, 1] [3, 2] [0, 3]

There are exactly 2 DS(16,6,2) in group [2,2,4]
Reference: Hadamard

0:	[0, 0, 0] [0, 0, 1] [0, 0, 2] [1, 0, 0] [0, 1, 0] [1, 1, 3]
1:	[0, 0, 0] [0, 0, 1] [0, 0, 3] [1, 0, 0] [0, 1, 0] [1, 1, 2]

There is exactly 1 DS(16,6,2) in group [2,2,2,2]
Reference: Hadamard

[0, 0, 0, 0] [1, 0, 0, 0] [0, 1, 0, 0] [0, 0, 1, 0] [0, 0, 0, 1] [1, 1, 1, 1]

In [5]:
get_ds_allgroups(36,15,6)

No DS(36,15,6) exists in group [36]
Reference: Turyn


There are exactly 4 DS(36,15,6) in group [3,12]
Reference: Hadamard (Kibler, JCT A, 1978)

DS given as elements of [4, 3, 3]
0:	[0, 0, 0] [1, 0, 0] [0, 2, 0] [2, 0, 0] [0, 1, 0] [3, 0, 0] [0, 0, 1] [3, 2, 1] [2, 1, 1] [1, 0, 1] [0, 2, 1] [0, 1, 1] [1, 0, 2] [3, 1, 2] [2, 2, 2]
1:	[0, 0, 0] [1, 0, 0] [0, 2, 0] [3, 1, 0] [2, 0, 0] [0, 1, 0] [0, 0, 1] [2, 1, 1] [1, 0, 1] [0, 2, 1] [0, 1, 1] [3, 0, 1] [3, 2, 2] [1, 0, 2] [2, 2, 2]
2:	[0, 0, 0] [1, 0, 0] [0, 2, 0] [3, 1, 0] [2, 0, 0] [0, 1, 0] [0, 0, 1] [3, 2, 1] [1, 0, 1] [0, 2, 1] [0, 1, 1] [2, 2, 1] [2, 1, 2] [1, 0, 2] [3, 0, 2]
3:	[0, 0, 0] [3, 2, 0] [2, 1, 0] [1, 0, 0] [0, 2, 0] [0, 1, 0] [0, 0, 1] [1, 0, 1] [0, 2, 1] [3, 1, 1] [0, 1, 1] [2, 2, 1] [1, 0, 2] [2, 0, 2] [3, 0, 2]

No DS(36,15,6) exists in group [2,18]
Reference: Turyn


There are exactly 3 DS(36,15,6) in group [6,6]
Reference: Hadamard (Kibler, JCT A, 1978)

DS given as elements of [2, 2, 3, 3]
0:	[0, 0, 0, 0] [0, 0, 1, 0] [0, 1, 0, 0] [0, 0, 2, 0] [1, 0, 0, 2] [1, 1, 2, 2] [1, 1, 0, 2] [0, 1, 1, 1] [1, 0, 0, 0] [1, 1, 2, 0] [1, 1, 1, 0] [0, 1, 2, 2] [1, 0, 0, 1] [1, 1, 0, 1] [1, 1, 1, 1]
1:	[0, 0, 0, 0] [0, 0, 1, 0] [0, 1, 0, 0] [1, 1, 0, 2] [0, 0, 0, 1] [0, 1, 0, 1] [0, 0, 2, 1] [1, 0, 0, 0] [1, 0, 1, 0] [1, 0, 2, 0] [1, 1, 1, 0] [0, 0, 1, 2] [0, 1, 0, 2] [0, 0, 2, 2] [1, 1, 2, 1]
2:	[0, 0, 0, 0] [0, 0, 1, 0] [0, 1, 0, 0] [1, 1, 2, 2] [0, 0, 0, 1] [0, 1, 0, 1] [0, 0, 2, 1] [1, 0, 0, 0] [1, 0, 1, 0] [1, 1, 0, 0] [1, 0, 2, 0] [0, 0, 1, 2] [0, 1, 0, 2] [0, 0, 2, 2] [1, 1, 1, 1]

## Handling difference sets

The above functions are to get information about results in the database.  If you want to get the actual objects to manipulate, <code>get_ds</code>$(v,k,\lambda,G,i)$ returns the $i$th such difference set in the database, as a list $[v,k,\lambda,G,D]$.

In [6]:
D=get_ds(11,5,2,[11],0)
print(D)

[11, 5, 2, [11], [1, 3, 4, 5, 9]]

In [7]:
A=ds_as_gp_ring_elt(get_ds(11,5,2,[11],0))
A

[11, 5, 2, [11], [1, 3, 4, 5, 9]]

(1) + (3) + (4) + (5) + (9)

In [8]:
B=gp_ring_elt_map(A,-1)
B

(2) + (6) + (7) + (8) + (10)

In [9]:
A*B

5*(0) + 2*(1) + 2*(2) + 2*(3) + 2*(4) + 2*(5) + 2*(6) + 2*(7) + 2*(8) + 2*(9) + 2*(10)

<code>is_ds()</code> uses this method to verify that a difference set is valid.

In [10]:
is_ds(get_ds(11,5,2,[11],0))

[11, 5, 2, [11], [1, 3, 4, 5, 9]]

True